<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.ues.fia.tarea1">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PTGActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EstudianteGrupoActivity" />
        <activity android:name=".DetalleDocente" />
        <activity android:name=".DetalleDocenteActualizar" />
        <activity android:name=".DetalleDocenteEliminar" />
        <activity android:name=".DetalleDocenteInsertar" />
        <activity android:name=".DetalleDocenteMenu" />
        <activity android:name=".Docente" />
        <activity android:name=".DetalleDocenteConsultar" />
        <activity android:name=".DocenteActualizar" />
        <activity android:name=".DocenteEliminar" />
        <activity android:name=".DocenteConsultar" />
        <activity android:name=".DocenteInsertar" />
        <activity android:name=".DocenteMenu" />
        <activity android:name=".PTGActivity1" />
        <activity android:name=".PropuestaPerfilMenuActivity" />
        <activity android:name=".TipoProyectoMenuActivity" />
        <activity android:name=".PropuestaPerfilInsertarActivity" />
        <activity android:name=".PropuestaPerfilEliminarActivity" />
        <activity android:name=".PropuestaPerfilActualizarActivity" />
        <activity android:name=".PropuestaPerfilConsultarActivity" />
        <activity android:name=".TipoProyectoInsertarActivity" />
        <activity android:name=".TipoProyectoEliminarActivity" />
        <activity android:name=".TipoProyectoActualizarActivity" />
        <activity android:name=".TipoProyectoConsultarActivity"></activity>
        <activity android:name=".EvaluacionMenuActivity" />
        <activity android:name=".EvaluacionInsertarActivity" />
        <activity android:name=".EvaluacionEliminarActivity" />
        <activity android:name=".EvaluacionActualizarActivity" />
        <activity android:name=".EvaluacionConsultarActivity" />
        <activity android:name=".Detalle_EvaluacionMenuActivity" />
        <activity android:name=".Detalle_EvaluacionInsertarActivity" />
        <activity android:name=".Detalle_EvaluacionEliminarActivity" />
        <activity android:name=".Detalle_EvaluacionActualizarActivity" />
        <activity android:name=".Detalle_EvaluacionConsultarActivity" />
        <activity android:name=".Local_EvaluacionMenuActivity" />
        <activity android:name=".Local_EvaluacionInsertarActivity" />
        <activity android:name=".Local_EvaluacionEliminarActivity" />
        <activity android:name=".Local_EvaluacionActualizarActivity" />
        <activity android:name=".Local_EvaluacionConsultarActivity"></activity>
    </application>

</manifest>
